@charset "UTF-8";
/* Estils CSS per a la pàgina web */
/* Autor: Eva Jou Ollé */
/* Data de creació: 15 de març de 2024 */


/* Estils per a la pàgina en general */
body {
          background-color: #245777; /* Blau claret, ves a aquesta pag web per trobar colros: https://encycolorpedia.es/ */
          color: white;
          /*font-family: 'Roboto Condensed', sans-serif; */
          /* margin: 40px; */
          /* font-family: 'Cabin', sans-serif;  Utilitza aquesta web per trobar combinacions de fonst: https://heyreliable.com/ultimate-google-font-pairings/ */
}

h1 {
          color: white;
          text-align: center; /* Centrat */
          font-weight: bold; /* Negreta */
          font-family: 'Roboto Condensed', sans-serif;
          font-size: 70px; /* Mida de la lletra */
}
h2 {
          color: black;
          font-family: 'Roboto Condensed', sans-serif;
          font-size: 30px; /* Mida de la lletra */
}
p {
          color: black;
          font-family: 'Cabin', sans-serif;
          font-size: 20px;
          text-align: justify;
}

li {
          color: black;
          font-family: 'Cabin', sans-serif;
          font-size: 20px;
          text-align: justify;
}
footer {
          height: 100px;
          /*padding: 50px;
          marging: 50px; */
          font-size: 20px;
          font-family: 'Roboto Condensed', sans-serif;
          font-weight: bold;
          text-align: center;
          margin-top: 5px;
}
.contenidor-inicial {
          display: flex;
          flex-wrap: wrap; /* Permet que les imatges es distribueixin en múltiples línies */
          gap: 5px; /* Espai entre les imatges */
          justify-content: space-evenly; /* Centrem horitzontalment el contingut */
          align-items: center; /* Centrem verticalment el contingut */
          /* height: 100vh;   Alçada de la pàgina al 100% de la finestra */
          float: center;
          /* margin-right: 20px;  */
}

.contenidor-inicial img {
          width: 300px; /* Amplada de la imatge */
          height: 300px; /* Alçada de la imatge */
          object-fit: cover; /* Manté la proporció de la imatge */
          border-radius: 50%; /* Fa que la imatge sigui rodona (opcional) */
          margin-right: 50px;
          margin-left: 50px;
          margin-bottom: 10px;
          min-width: 200px; /* Distància mínima abans de la distribució en múltiples línies */
}

/* Estils per al botó de scroll-up */
 .icona-scroll {
     position: fixed;
     margin: 0; 
     width: 4%;
     height: auto;
     transition: bottom 0.3s ease; /* Transició suau del moviment */
     cursor: pointer;
     z-indez: 1;
} 

.contenidor-senderisme {
    display: flex;
    flex-wrap: wrap; /* Permet que les imatges es distribueixin en múltiples línies */
    gap: 5px; /* Espai entre les imatges */
    justify-content: space-evenly; /* Centrem horitzontalment el contingut */
    align-items: center; /* Centrem verticalment el contingut */
    float: center;
    margin-right: 20px; 
    margin-left: 20px;
}

 .contenidor-senderisme img { 
     width: 300px; /* Amplada de la imatge */
     height: 300px; /* Alçada de la imatge */
     object-fit: cover; /* Manté la proporció de la imatge */
     border-radius: 50%; /* Fa que la imatge sigui rodona (opcional) */
     margin-right: 50px;
     margin-left: 50px;
     margin-bottom: 10px;
     min-width: 200px; /* Distància mínima abans de la distribució en múltiples línies */
 }

/* organització de sortides per carpetes */
.contenidor-sortidesetiqueta {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    float: center;
    margin-right: 5%; 
    margin-left: 5%;
    justify-content: space-evenly; /* Centrem horitzontalment el contingut */
    align-items: center; /* Centrem verticalment el contingut */

}
.contenidor-sortidesetiqueta a {
    text-align: center;
    color: white;

    color: inherit; /* Hereta el color del text del seu element pare */
    text-decoration: none; /* Elimina el subratllat dels enllaços */
    transition: color 0.2s ease; /* Animació de canvi de color en 0.2 segons */
}
/* Estil quan es passa el cursor sobre l'enllaç */
.contenidor-sortidesetiqueta a:hover {
    color: #ff6600; /* Canvia el color quan es passa el cursor */
}

.contenidor-sortidesetiqueta img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}
.contenidor-sortidesetiqueta footer {
    height: 100px;
    /*padding: 50px;
    marging: 50px; */
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.contenidor-llistasortides {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    margin-right: 5%; 
    margin-left: 5%;
}
.contenidor-recomanacionssortides a {
    display: flex;  /* Make <a> a flex container */
    flex-direction: column;  /* Stack items vertically (image on top, text below) */
    align-items: center;  /* Center align children (both image and text) */
    text-align: center;
    text-decoration: none;
    
    color: inherit; /* Hereta el color del text del seu element pare */
    transition: color 0.2s ease; /* Animació de canvi de color en 0.2 segons */

    color: white;
}
.contenidor-recomanacionssortides a:hover {
    color: #ff6600; /* Canvia el color quan es passa el cursor */
}

.contenidor-recomanacionssortides img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    color: inherit; /* Hereta el color del text del seu element pare */

}
/* Estils per a les rutes embegudes */
.wikiloc-maps-container {
    display: flex;
    justify-content: space-evenly;
    gap: 10px; /* Space between maps */
    padding: 0 10px; /* Space between maps and the edges of the screen */
    flex-wrap: wrap; /* Allow maps to wrap on smaller screens */
}

.map-item {
    display: flex;
    flex-direction: column; /* Stack text above the map */
    align-items: center; /* Center everything horizontally */
    flex: 1;
    max-width: 800px; /* Maximum width for each map */
    min-width: 480px; /* Minimum width to ensure they don't shrink too small */
    margin-bottom: 20px; /* Space below each map */
}

.map-item iframe {
    width: 100%; /* Ensure the iframe takes the full width of its parent container */
    height: 500px; /* Fixed height for the maps */
}
/* Estils per a les seccions com a quadres de text amb colors alternats */
section {
    padding: 30px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #e5f2ff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estil per a seccions imparells (color alternat) */
section:nth-child(odd) {
    background-color: #e5f2ff; /* Color alternat */
}

/* Estil per a seccions parells (color alternat) */
section:nth-child(even) {
    background-color: #cae6ff; /* Color alternat diferent */
}

#qui-soc {
    padding-left: 20px; /* Espai de padding a l'esquerra de la secció */
    overflow: hidden; /* Evita que altres elements 'flotin' al costat de la imatge */
}

#qui-soc img {
    display: block; /* Fer que la imatge es comporti com un bloc */
    width: 100%; /* Amplada de la imatge al 100% del seu contenidor */
    margin: 0 auto; /* Centrar horitzontalment (0 a dalt/baix, auto a l'esquerra/dreta) */
    /* float: left;  Aliniar la imatge a l'esquerra */
    /* margin-right: 20px;  Espai de margin a la dreta de la imatge */
    /* border-radius: 10px;  Raconeres arrodonides de la imatge */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  Ombra de la imatge */
    /* height: auto;  Alçada automàtica per mantenir la proporció */
}

/* Estils per als enllaços */
a {
    color: inherit; /* Hereta el color del text del seu element pare */
    text-decoration: none; /* Elimina el subratllat dels enllaços */
    transition: color 0.2s ease; /* Animació de canvi de color en 0.2 segons */
}

/* Estil quan es passa el cursor sobre l'enllaç */
a:hover {
    color: #ff6600; /* Canvia el color quan es passa el cursor */
}

#inici-projecte {
     padding-left: 20px; /* Espai de padding a l'esquerra de la secció */
     overflow: hidden; /* Evita que altres elements 'flotin' al costat de la imatge */
}

#inici-projecte img {
    display: block; /* Fer que la imatge es comporti com un bloc */
    width: 200px; /* Amplada de la imatge al 100% del seu contenidor */
    height: auto; /* Alçada automàtica per mantenir la proporció */
    float: left;  /* Aliniar la imatge a l'esquerra */
    margin: 20px; /* Espai de margin a tots els costats de la imatge */
    border-radius: 50px;  /* Raconeres arrodonides de la imatge */
    object-fit: cover; /* Manté la proporció de la imatge */
    border-radius: 50%; /* Fa que la imatge sigui rodona (opcional) */
}

#scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    display: none; /* Oculta l'icona inicialment */
}

#scroll-to-top-btn:hover {
    background-color: #555;
}
